<div class='main-div-container'>
	<div>
    <div class="form-inline" style="padding:20px">
  <div class="form-group">
    <label >Search Patient: </label>
    <input type="search" value="" placeholder="Search" class="form-control"  ng-model="searchPatient">
  </div>
  <div class="form-group">
    <label >Filter</label>
    <select class="form-control" ng-model="data.singleSelect">
      <option value="option-1">Option 1</option>
      <option value="option-2">Option 2</option></select>
  </div>
</div>
    <div style="margin-top:30px;height:100%;padding:10px" >
      <table class="table table-hover" style="padding:20px">
          <th class="active" style="text-align:center">
          Patient ID #
          </th>
          <th class="active"style="text-align:center">
          Patient Aria Ser
          </th>
          <th class="active"style="text-align:center">
          First Name
          </th>
          <th class="active"style="text-align:center">
          Last Name
          </th>
          <th class="active"style="text-align:center">
          SSN
          </th>
          <th class="active"style="text-align:center">
          Email
          </th>
          <th class="active">
          </th>

          <tr align="center" ng-repeat="patient in patients|filter:searchPatient">
              <td>{{patient.PatientId}}</td>
              <td>{{patient.PatientAriaSer}}</td>
              <td>{{patient.FirstName}}</td>
              <td>{{patient.LastName}}</td>
              <td>{{patient.SSN}}</td>
              <td>{{patient.Email}}</td>
              <td align="center"><button class="btn btn-primary" ng-click="goToPatient(patient)">Go To Patient &raquo;</button></td>
          </tr>
      </table>
    </div>

</div>