<div class='main-div-container animated zoomIn'>
	  <div style="padding:20px">
  <div class='widget'>
    <div class="widget-header">
      <div class="row" style="font-size:20px;">
        <div class="pull-left" style="font-size:20px;margin-left:10px">
         <div class="form-group">
    <label ><i class="ion-search"></i> Search Patient: </label>
    <input type="search" value="" placeholder="Search" class="form-control"  ng-model="searchPatient">
  </div>
        </div>
        <div class="pull-left col-xs-6 col-sm-2">
           <div class="form-group">
    <label ><i class="ion-ios-settings-strong"></i> Filter:</label>
    <select class="form-control" ng-model="data.singleSelect">
      <option value="option-1">All</option>
      <option value="option-2">Last Week</option>
      <option value="option-2">Last Month</option>

    </select>
  </div>
        </div>
      </div>
    </div>
    <div class="widget-body no-padding">
          <div class="table-responsive" style="padding:0 10px 10px 10px;background: #fff;">
      <table class="table table-hover" >
          <th class="active" style="text-align:center">
          Patient ID #
          </th>
          <th class="active"style="text-align:center">
          First Name
          </th>
          <th class="active"style="text-align:center">
          Last Name
          </th>
           <th class="active"style="text-align:center">
          Login Time
          </th>
          <th class="active"style="text-align:center">
          Logout Time
          </th>

          <tr class="unfocus" align="center"  ng-repeat-start="(key, value) in activityLogObject" ng-init="value.expanded=false" ng-click="searchActivity(value)">
              <td>{{value.PatientId}}</td>
              <td>{{value.FirstName}}</td>
              <td>{{value.LastName}}</td>
              <td>{{value.LoginTime|date:'dd/MM/yy h:mm a'}}</td>
              <td>{{value.LogoutTime|date:'dd/MM/yy h:mm a'}}</td>
          </tr>
          <tr uib-collapse="!value.expanded" ng-repeat-end="">
            <td>
            </td>
            <td colspan="4" >
              <table>
                
              </table>
            </td>
          </tr>
      </table>
    </div>
    </div>
  </div>  
  </div>

</div>