<div class="main-div-container">
<uib-tabset>
        <uib-tab>
        <tab-heading>
            <i class="ion-ios-search-strong" style="font-size:20px"></i> Search Patient
        </tab-heading>
        <div ng-include src="'templates/patients/search.html'"></div>
        </uib-tab>
         <uib-tab>
        <tab-heading>
            <i class="ion-ios-search-strong" style="font-size:20px"></i> All Patients
        </tab-heading>
       <div ng-include src="'templates/patients/list-all-patients.html'"></div>
        </uib-tab>
</uib-tabset>
</div>

