<!DOCTYPE html>
<html ng-app="screenApp">

<head>

<!--Angular libraries -->
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.3.2/angular-poller.js"></script>

<!--Firebase libraries -->
<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>

<!--Custom controllers -->
<script src="patientController.js"></script>

<!--CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<script src="http://172.26.66.41/node_modules/ngAudio-1.6.2/app/angular.audio.js"></script>

</head>

<body>

<div ng-controller="screenController">
<center>
<h1>Cedars Cancer Centre</h1>
<h2>Waiting Room Management</h2>
</center>
<b>Current Time:</b> {{timeNow | date:'yyyy-MM-dd hh:mm:ss'}}
  <table class="table table-striped" border="0">
    <tr class="bg-danger">
    <th>FirstName</th>
    <th>LastName</th>
    <th>PatientId</th>
    <th>Scheduled</th>
    <th>CheckIn</th>
    <th>Wait <br>(min)</th>
    <th>Remaining <br>(min)</th>
    <th>Appointment</th>
    <th>Resource</th>
    <th><span class="glyphicon glyphicon-bullhorn"></span> Call Patient</th>
    <th><span class="glyphicon glyphicon-map-marker"></span> Patient Arrived</th>
    <th><span class="glyphicon glyphicon-check"></span> Assign Room</th>
    </tr>
    <tr ng-repeat="patient in checkins" ng-class=" (patient.TimeRemaining < 5) ? 'bg-danger': '' ">
      <td>{{ patient.FirstName}}</td>
      <td>{{ patient.LastName }}</td>
      <td>{{ patient.PatientId}}</td>
      <td>{{ patient.ScheduledStartTime_hh}}:{{"0"+patient.ScheduledStartTime_mm | limitTo:-2}}</td>
      <td>{{ patient.ArrivalDateTime_hh}}:{{'0'+patient.ArrivalDateTime_mm | limitTo:-2}}</td>
      <td>{{ patient.WaitTime}}</td>
      <td>{{ patient.TimeRemaining }}</td> 
      </td>
      <td>{{ patient.Expression1 }}</td>
      <td>{{ patient.ResourceName}}</td>
      <td><span ng-hide="(screenRows|filter:{PatientId:patient.PatientId}:true).length > 0"><button ng-click="callPatient(patient)" class="btn btn-primary">Call Patient </span></button></span>
      <td><span ng-show="(screenRows|filter:{PatientStatus:'Called'}:true).length > 0"><button ng-click="arrivedPatient(patient)" class="btn btn-warning"> Patient Arrived</button></span></td>
      <td><span ng-show="(screenRows|filter:{PatientStatus:'Arrived'}:true).length > 0"><button ng-click="assignPatient(patient)" class="btn btn-success"> Assign Room</button></span></td>
    </tr>
  </table>

<h3>SMS Message</h3>
<p>
{{SMS_message}}
</p>

<hr/>
<h3>Screen Display</h3>
There are {{ screenRows.length }} patients in the screen list.
<p/>
  <table class="table" border="0">
    <tr>
    <th>Patient</th>
    <th>Destination</th>
    <th>Action</th>
    </tr>
    <tr ng-repeat="item in screenRows" ng-class=" (item.diff > 0) && (item.diff < 10000) ? 'bg-primary': '' ">
      <td><strong class="example-chat-username">{{ item.FirstName}} {{ item.LastName}}</strong><span class="invisible">{{ item.diff = timeNow - item.timestamp}}</span></td>  
      <td>{{item.destination}}</td>  
      <td><a class="btn btn-danger" ng-click="removeItem($index)"> (index: {{$index}}) Delete</a></td>
    </tr>
  </table>
<p/>

<h3>Debug Messages</h3>
<span ng-bind="debug_messages"></span>


<ul>
  <li ng-repeat="message in screenRows">{{ message.TestData.FirstName}}: {{ message.LastName}}</li>
</ul>


</div>

</body>
</html>


