<!DOCTYPE html>
<html ng-app="screenApp">

<head>

<!--Angular libraries -->
<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script> -->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-poller/0.3.2/angular-poller.js"></script> -->
<script src="http://172.26.66.41/Documents/config/angularjs/angular.min.js"></script>
<script src="http://172.26.66.41/Documents/config/angularjs/angular-poller.js"></script>
<script src="http://172.26.66.41/Documents/config/angularjs/checklist-model.js"></script>
<script src="http://172.26.66.41/Documents/config/angularjs/angular-route.js"></script>

<!--Firebase libraries -->
<!--<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script> -->
<!--<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script> -->
<script src="http://172.26.66.41/Documents/config/firebase/firebase.js"></script>
<script src="http://172.26.66.41/Documents/config/firebase/angularfire.min.js"></script>

<!--Custom controllers -->
<script src="controllers/patientControllerAll.js"></script> <!--patientControllerAll includes medivisit patients and uses schedule-->

<!--CSS -->
<!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="http://172.26.66.41/Documents/config/bootstrap/css/bootstrap.min.css">
<script src="http://172.26.66.41/Documents/config/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>

<script src="http://172.26.66.41/node_modules/ngAudio-1.6.2/app/angular.audio.js"></script>

</head>

<body>
<div ng-controller="screenController">
<center>
<table border=0 class="table" style="width: 100%">
<tr>
<td align="center" valign="center">
</td>
<td align="center" valign="center">
  <center>
  <img src="http://172.26.66.41/Documents/config/images/CedarsLogo.jpg" width=300px></img>
    <h2><b>Virtual Waiting Room</b></h2>
  </center>
</td>
<td align="center" valign="bottom">
</td>
</tr>
</table>
</center>


<div ng-controller="ModalDemoCtrl">
  <script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Resource Filter</h3>
  </div>
  <div class="modal-body">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Search</span>
      <input type="text" ng-model="ResourceFilter" class="form-control" placeholder="Enter text" aria-describedby="basic-addon1">
    </div>
    <div style="padding: 10px;">
      <input type="checkbox" ng-click="checkAll()" ngChecked="allChecked">Select all 
    </div>

    <ul style="list-style: none; 
		max-height: 400px;
  		overflow-y: auto;
  		list-style: none;
  		border: 1px #ccc solid;
  		margin-top: 10px;
  		border-radius: 5px;">
      <li ng-repeat="Resource in Resources | filter: ResourceFilter" style="float: left; width: 50%;">
        <label>
          <input type="checkbox" checklist-model="user.Resources" checklist-value="Resource"> {{Resource}} 
        </label>
      </li>
    </ul>
    <b>Selected Resources: </b> {{user.Resources}} 
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
  </script>
  <table border="0">
    <tr>
      <td>
        <button class="btn btn-link" ng-click="open()"><b>Resource(s):</b></button>
        <span ng-repeat="item in user.Resources"> <mark>{{item}}</mark> </span>
      <td>
    <tr>
  </table>
</div>


  <table border="0">
    <tr>
      <td>
        <button class="btn btn-link"><b>Location: </b></button>
        <select class="btn btn-link dropdown-toggle" data-ng-options="destination.VenueId2 for destination in venues" data-ng-model="PatientDestination">
          <option value="" selected="selected"><b>Set This Location </b></option>
        </select>
      <td>
    <tr>
  </table>
<!-- 
Room: {{ PatientDestination.VenueId = "Clinique Radio-oncologie / Radiation Oncology Clinic"}}
Room: {{ PatientDestination.VenueId2 = "S1 CLINIC"}}
Room: {{ PatientDestination.ResourceSer = 8224}}
-->


  <table class="table table-hover" border="0">
    <tr class="bg-info">
    <th><center>Patient</center></th>
    <th><center>Scheduled<br /><span class="glyphicon glyphicon-time"></span></center></th>
    <th><center>CheckIn<br /><span class="glyphicon glyphicon-ok"></span></center></th>
    <th><center>CheckIn Location<br /><span class="glyphicon glyphicon-barcode"></span></center></th>
    <th><center>Wait <br />(min)</center></th>
    <th><center>Remaining <br />(min)</center></th>
    <th><center>Appointment</center></th>
    <th><center>Resource</center></th>
    <th><center>Primary <br /> Oncologist</center></th>
    <th><center>Call Patient<br /><span class="glyphicon glyphicon-bullhorn"></span></center></th>
    <th><center>Patient Arrived<br /><span class="glyphicon glyphicon-map-marker"></span></center></th>
    <th><center>Assign Room<br /><span class="glyphicon glyphicon-check"></span></center></th>
    </tr>
    <tr ng-repeat="patient in checkins | multiResourceFilter:user.Resources" ng-class=" (patient.TimeRemaining < 5) ? 'bg-danger': '' ">
      <td>{{ currentPatient = patient.FirstName}} {{ patient.LastName }} ({{ patient.PatientId}})</td>
      <td><center>{{ patient.ScheduledStartTime_hh}}:{{"0"+patient.ScheduledStartTime_mm | limitTo:-2}}</center></td>
      <td><center>{{ patient.ArrivalDateTime_hh}}:{{'0'+patient.ArrivalDateTime_mm | limitTo:-2}}</center></td>
      <td><center>{{ patient.VenueId}}</center></td>
      <td><center>{{ patient.WaitTime}}</center></td>
      <td><center>{{ patient.TimeRemaining }}</center></td> 
      </center></td>
      <td><center>{{ patient.Expression1 }}</center></td>
      <td><center>{{ patient.ResourceName}}</center></td>
      <td><center>{{ patient.DoctorName}}</center></td>
      <td><center><span ng-hide="(screenRows|filter:{PatientId: patient.PatientId, ScheduledActivitySer: patient.ScheduledActivitySer}:true).length > 0"><button ng-click="callPatient(patient)" class="btn btn-primary">Call Patient </span></button></span>
      <td><center><span ng-show="(screenRows|filter:{PatientId: patient.PatientId, ScheduledActivitySer: patient.ScheduledActivitySer, PatientStatus: 'Called'}:true).length > 0"><button ng-click="arrivedPatient(patient)" class="btn btn-warning"> Patient Arrived</button></span></center></td>


      <td><center><span ng-show="(screenRows|filter:{PatientId: patient.PatientId, ScheduledActivitySer: patient.ScheduledActivitySer, PatientStatus: 'Arrived'}:true).length > 0"><button ng-click="openExamRoom('sm',patient)" class="btn btn-success"> Assign Room</button></span>
          <span ng-show="(screenRows|filter:{PatientId: patient.PatientId, ScheduledActivitySer: patient.ScheduledActivitySer, PatientStatus: 'RoomAssigned'}:true).length > 0"><b>{{ patient.VenueId}}</b></span>
      </center></td>
    </tr>
  </table>

<center>


</center>


<font color="white">

<nav class="navbar-xs navbar-inverse navbar-fixed-bottom">
    <span class="nav navbar-nav navbar-left">
        &nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-time"></i>
        &nbsp;Current Time:</b> {{timeNow | date:'yyyy-MM-dd hh:mm'}}
    </span>
    <span class="nav navbar-nav navbar-center">
      <center>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Questions or Comments? Please contact John Kildea at ex 44154 
      </center>
    </span>

    <span class="nav navbar-nav navbar-right">
      <b>Location:</b> {{PatientDestination.VenueId}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </span>
</nav>

</font>
</div>

<script type="text/ng-template" id="ExamRoomModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Select Exam Room</h3>
        </div>
        <div class="modal-body">
   	    <ul style="list-style: none;
			padding-left:0;">
                <li class="btn btn-info btn-block" ng-repeat="item in items">
                    <a  style="color: #FFFFFF;" ng-click="selected.item = item.AriaVenueId">{{ item.AriaVenueId }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
</script>


</body>
</html>


